
html{
 background: #eeeeee;
}
.App {
  text-align: center;
  display: flex;
  height: 100vh;
  flex-direction: column;
}
h1,p{
  margin: 10px;
}

.windows-font{
  font-family: 'windows95';
}

h3{
  position: absolute;
  right:50%;
  top: 50%;
  z-index: 5;
}

#logo{
  width: 15vw;
  max-width: 300px;
}
#by-jkl{
  margin:0;
  margin-top: -15px;
}

button{
  /* padding: 10px 15px;
  border-radius: 10px;
  margin: 10px 0.5rem;
  background: black;
  color: white;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit; */

  background: silver;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  color: transparent;
  min-height: 23px;
  min-width: 75px;
  padding: 8px 12px;
  text-shadow: 0 0 #222;
  height: fit-content;
  font-family: 'windows95';
}

button:not(:disabled):hover{
  outline: 1px dotted #000;
  outline-offset: -4px;
  background-color: rgb(134, 134, 134);
}

button:not(:disabled):active{
  box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey;
  text-shadow: 1px 1px #222;
}

.blue-btn{
  color: white;
  background-color: #50A0FF;
}
.blue-btn:hover{
  background-color: #2b70c4;
  outline: 1px dotted #000;
}
button:disabled, .blue-btn:disabled{
  color:grey !important;
  cursor:not-allowed;
  text-shadow: 1px 1px 0 #fff;
  background: silver;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
}

.header {
  /* background-color: #282c34; */
  display: flex;
  padding: 0 1rem;
  align-items: center;
  justify-content: space-between;
}
.main-body{
  margin: 1rem 0.5rem 0.5rem 0.5rem;
  display:grid;
  grid-template-columns: 1fr 3fr;
  grid-auto-rows: 1fr min-content;
  gap: 0.5rem;
  flex-grow: 1;
}
.total-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;

}
.col-double {
  grid-column: span 2;
}


.left{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right{
  display:grid;
  grid-template-rows: min-content 50px 10fr;
}

.sick-border{
  border: 1px solid #373737;
  box-shadow: 5px 5px 10px #C0C0C0;
  padding-top: 10px;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
}

.nav-bar{
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-bottom: 0.5rem;
  max-height: min-content;
}


.navigation{
  margin: auto 3px;
}


.file-manager{
  /* border: 2px solid #282c34; */
  /* border-radius: 5px; */

  /* border: 1px solid #373737;
  box-shadow: 5px 5px 10px #C0C0C0;
  padding-top: 10px;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff; */
}

.drag-drop-zone {
  text-align: left;
}

.upload-icon{
  max-width: 100px;
}

.drag-drop-zone.inside-drag-area {
  box-shadow: 5px 5px 10px #00ffd5;
  background: #2b70c4;
}

.blurry{
  filter: blur(10px);
  pointer-events: none;
}

.loading_cat{
position:fixed;
top: 30%;
left: 45%;
z-index: 1;
}

.uploading-queue{
  padding: 2rem;
  list-style-type: decimal;

}
.title-bar{
  align-items: center;
  background: linear-gradient(90deg,navy,#1084d0);
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  color: white;
  margin: 0 !important;
}
.each-file{
  display: grid;
  grid-template-columns: 3fr 1fr 0.3fr;
  margin: 15px auto;
  align-items: center;
}
.each-file:hover{
  background-color: #060a77;
  color:white;
}

.file-name{
  display:flex;
  align-items: center;
  gap: 1rem;
  margin-left: 10px;
}

.each-file svg{
  max-height: 30px;
}

.view-online{
  width:fit-content;
  background: #291e29;
  color: #d2d2d2;;
  border: 1px solid  #d2d2d2;
  border-radius: 10px;
  padding: 5px 10px;

  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  text-shadow: 0 0 #222;
  background: silver;
  color:black;
  font-size: 15px;
}
.view-online:hover{
  background-color: #ff6a00;
  cursor: pointer;
}
.view-online:active{
  background-color: #fef38d;
}

.copy-icon:hover {
  cursor: pointer;
}
.copy-icon:active{
  fill:#fef38d;
}
.each-file:hover path{
  stroke: white;
}

.folder-container{
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 1rem 2rem;
  gap: 3rem;
}

.each-folder{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.each-folder:active{
  border: 1px dotted grey;
}

.footer{
  background: silver;
  display: grid;
  grid-template-columns: 100px 5fr 100px;
  align-items: center;

  background-color: rgb(195, 199, 203);
  /* position: fixed; */
  width: 100vw;
  bottom: 0px;
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px;
  margin:0;
}


.footer a{
  margin: 0 20px;
  padding: 10px 5px ;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.footer a:hover{
  background: #505050;
  color:white;
}

.clock{
  float:right;
  min-width: 50px;
  margin-right:10px;
  padding: 6px 5px;
  cursor: none;
  align-items: center;
  border-width: 1px 1.5px 1.5px 1px;
  border-color: rgba(0, 0, 0, 0.5) rgb(255, 255, 255) rgb(255, 255, 255) rgba(0, 0, 0, 0.5);
  border-style: solid;
}

#jkl_logo {
  margin-top: auto;
  margin-bottom: auto;
  height: 80%;
}

.start-btn {
  box-shadow: rgb(255, 255, 255) 1px 1px 0px 1px inset, rgb(134, 138, 142) 0px 0px 0px 1px inset, rgb(0, 0, 0) 1px 1px 0px 0px;
  border: none;
  background: rgb(195, 199, 203);
  width: 80px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

