.App {
  text-align: center;
}
h1,p{
  margin: 10px;
}

h3{
  position: absolute;
  right:50%;
  top: 50%;

}

button{
  padding: 10px 15px;
  border-radius: 10px;
  margin: 10px 0.5rem;
  background: black;
  color: white;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

button:hover{
  background-color: #282c34;
}
.blue-btn{
  background-color: #50A0FF;
  color: white;
}
.blue-btn:hover{
  background-color: #2b70c4;
}
.blue-btn:disabled{
  background-color: #97abc4;
  cursor:not-allowed;
}

.header {
  /* background-color: #282c34; */
  display: flex;
  padding: 0 1rem;
  align-items: center;
  justify-content: space-between;
}
.main-body{
  margin: 1rem 0.5rem;
  display:grid;
  grid-template-columns: 1fr 3fr;
  gap: 0.5rem;
  max-height: 80vh;
}

.left{
  border: 2px solid #282c34;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right{
  display:grid;
  grid-template-rows: 1fr 10fr;
  gap: 0.5rem;

}

.nav-bar{
  border: 2px solid #282c34;
  border-radius: 5px;
  display: flex;
  padding: 1rem;
  box-shadow: 5px 5px 10px #C0C0C0;

}
.file-manager{
  border: 2px solid #282c34;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #C0C0C0;
}

.drag-drop-zone {
  text-align: left;
  /* background: #282c34; */
  box-shadow: 5px 5px 10px #C0C0C0;
  /* color: #ffffff; */
}

.upload-icon{
  max-width: 100px;
}

.drag-drop-zone.inside-drag-area {
  box-shadow: 5px 5px 10px #00ffd5;
  background: #2b70c4;
}

.blurry{
  filter: blur(10px);
}

.uploading-queue{
  padding: 2rem;
  list-style-type: decimal;

}
.files{

}
.each-file{
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin: 15px auto;
}
.each-file:hover{
  background-color: #8ed4ff;
}

.file-name{
  display:flex;
  align-items: center;
}

.each-file svg{
  max-height: 30px;
}

.view-online{
  width:fit-content;
  background: #291e29;
  color: #d2d2d2;;
  border: 1px solid  #d2d2d2;
  border-radius: 10px;
  padding: 3px 8px;
}
.view-online:hover{
  background-color: #ff6a00;
  cursor: pointer;
}
.view-online:active{
  background-color: #fef38d;
}

.folder-container{
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 1rem auto;
}

.each-folder{
  display: flex;
  flex-direction: column;
  margin: 20px 14px;
  cursor: pointer;
}
.each-folder svg{
  fill: #fef38d;
}
.each-folder:hover svg{
border: 1px dotted grey;
}

.each-folder:active svg{
  fill:#50A0FF;
  }
