
html{
 background: #eeeeee;
}
.App {
  text-align: center;
  display: flex;
  height: 100vh;
  flex-direction: column;
}
h1,p{
  margin: 10px;
}

.flex-this-div{
  display:flex;
  align-items: center;
  justify-content: center;
}

.windows-font{
  font-family: 'windows95';
}

.underline {
  text-decoration: underline;
}

h3{
  position: absolute;
  right:50%;
  top: 50%;
  z-index: 5;
}

#logo{
  width: 15vw;
  max-width: 300px;
}
#by-jkl{
  margin:0;
  margin-top: -15px;
}

.john {
  margin-top: 40px;
}

button{
  /* padding: 10px 15px;
  border-radius: 10px;
  margin: 10px 0.5rem;
  background: black;
  color: white;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit; */

  background: silver;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  color: transparent;
  min-height: 23px;
  min-width: 75px;
  padding: 8px 12px;
  text-shadow: 0 0 #222;
  height: fit-content;
  font-family: 'windows95';
}

button:not(:disabled):hover{
  outline: 1px dotted #000;
  outline-offset: -4px;
  background-color: rgb(134, 134, 134);
}

button:not(:disabled):active{
  box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey;
  text-shadow: 1px 1px #222;
}

.blue-btn{
  color: white;
  background-color: #50A0FF;
}
.blue-btn:hover{
  background-color: #2b70c4;
  outline: 1px dotted #000;
}
button:disabled, .blue-btn:disabled{
  color:grey !important;
  cursor:not-allowed;
  text-shadow: 1px 1px 0 #fff;
  background: silver;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
}

.header {
  /* background-color: #282c34; */
  display: flex;
  padding: 0 1rem;
  align-items: center;
  justify-content: space-between;
}
.main-body{
  margin: 1rem 0.5rem 0.5rem 0.5rem;
  display:grid;
  grid-template-columns: 1fr 3fr;
  grid-auto-rows: 1fr min-content;
  gap: 0.5rem;
  flex-grow: 1;
}
.total-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;

}
.col-double {
  grid-column: span 2;
}


.left{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right{
  display:grid;
  grid-template-rows: min-content 50px 10fr;
}

.sick-border{
  border: 1px solid #373737;
  box-shadow: 5px 5px 10px #C0C0C0;
  /* padding-top: 10px; */
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
}

.nav-bar{
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-bottom: 0.5rem;
  max-height: min-content;
}


.navigation{
  margin: auto 3px;
}


.file-manager{
  /* border: 2px solid #282c34; */
  /* border-radius: 5px; */

  /* border: 1px solid #373737;
  box-shadow: 5px 5px 10px #C0C0C0;
  padding-top: 10px;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff; */
}

.drag-drop-zone {
  text-align: left;
}

.upload-icon{
  max-width: 100px;
}

.drag-drop-zone.inside-drag-area {
  box-shadow: 5px 5px 10px #00ffd5;
  background: #2b70c4;
}

.blurry{
  filter: blur(10px);
  pointer-events: none;
}

.loading_cat{
  margin-top: 40px;
}

.uploading-queue{
  padding: 2rem;
  list-style-type: decimal;

}
.title-bar{
  align-items: center;
  background: linear-gradient(90deg,navy,#1084d0);
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  color: white;
  margin: 0 !important;
}
.each-file{
  display: grid;
  grid-template-columns: 3fr 1fr 0.3fr;
  margin: 15px 1.25rem;
  align-items: center;
  justify-items: right;
}
.each-file:hover{
  background-color: #060a77;
  color:white;
}

.file-name{
  display:flex;
  align-items: center;
  gap: 1rem;
  margin-left: 10px;
  width: 100%;
}

.each-file svg{
  max-height: 30px;
}

.view-online{
  width:fit-content;
  background: #291e29;
  color: #d2d2d2;;
  border: 1px solid  #d2d2d2;
  border-radius: 10px;
  padding: 5px 10px;

  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  text-shadow: 0 0 #222;
  background: silver;
  color:black;
  font-size: 15px;
}
.view-online:hover{
  background-color: #ff6a00;
  cursor: pointer;
}
.view-online:active{
  background-color: #fef38d;
}

.copy-link{
  position:relative;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.copied-alert{
  position: absolute;
  bottom: 30px;
  right: -20px;
  color: black;
  font-size: 14px;
  background-color: #ffffe1;
  white-space: nowrap;
  padding: 4px 4px;
  border: 1px solid black;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2), 0.3px 0.3px 1px rgba(0,0,0,0.4);
}

.copy-icon {
  justify-self: center;
  margin-right: 1rem;
}

.copy-icon:hover {
  border: 1px dotted grey;
  cursor: pointer;
}

.copy-icon:active{
  border-width:  0.5px;
  border-color: rgba(0, 0, 0, 0.5) rgb(255, 255, 255) rgb(255, 255, 255) rgba(0, 0, 0, 0.5);
  border-style: solid;
  background: #4d4e8e;
  padding: 3px;
}

.each-file:hover path{
  stroke: white;
}


.folder-container{
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 1rem 2rem;
  gap: 3rem;
}

.each-folder{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.each-folder:active{
  border: 1px dotted grey;
}

.footer{
  background: silver;
  display: grid;
  grid-template-columns: 300px auto 120px 180px;
  align-items: center;
  margin:0;

  border-style: solid;
  border-width: 2px;
  border-color: rgb(254, 254, 254) rgb(10, 10, 10) rgb(10, 10, 10) rgb(254, 254, 254);
  box-shadow: rgb(223, 223, 223) 1px 1px 0px 1px inset, rgb(132, 133, 132) -1px -1px 0px 1px inset;
  box-sizing: border-box;
  background: rgb(198, 198, 198);
}


.footer a{
  margin: 0 20px;
  padding: 10px 5px ;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.footer a:hover{
  background: #505050;
  color:white;
}

.clock{
  /* float:right; */
  min-width: 50px;
  margin-right:10px;
  padding: 6px 5px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(132, 133, 132) rgb(254, 254, 254) rgb(254, 254, 254) rgb(132, 133, 132);
  box-sizing: border-box;
  background: rgb(198, 198, 198);
  color: rgb(10, 10, 10);
  height: 35px;
}

.taskbar-divider{
  display: inline-block;
  box-sizing: border-box;
  height: 35px;
  width: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(254, 254, 254) rgb(132, 133, 132) rgb(132, 133, 132) rgb(254, 254, 254);
  background: rgb(198, 198, 198);
}

#jkl_logo {
  margin-top: auto;
  margin-bottom: auto;
  height: 25px;
}


.clock img{
  height: 20px;
  margin: 0 5px;
}

.footer-btn {
  color: black;
  /* box-shadow: rgb(255, 255, 255) 1px 1px 0px 1px inset, rgb(134, 138, 142) 0px 0px 0px 1px inset, rgb(0, 0, 0) 1px 1px 0px 0px; */
  border: none;
  /* background: rgb(195, 199, 203); */
  width: 80px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  border-style: solid;
  border-width: 2px;
  border-color: rgb(254, 254, 254) rgb(10, 10, 10) rgb(10, 10, 10) rgb(254, 254, 254);
  box-shadow: rgb(223, 223, 223) 1px 1px 0px 1px inset, rgb(132, 133, 132) -1px -1px 0px 1px inset;
  /* box-sizing: border-box; */
  background: rgb(198, 198, 198);
  height: 30px;
  padding: 0 5px;
}

.footer-btn:active{
  box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey;
  text-shadow: 1px 1px #fff;
}

.rainbow_text_animated {
  background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
  font-weight: bold;
}

@keyframes rainbow_animation {
  0%,100% {
      background-position: 0 0;
  }

  50% {
      background-position: 100% 0;
  }
}

/* 
Startup Page
*/

.frame-page-size {
  height: min-content;
  width: 50vw;
  min-width: 800px;
  font-size: 1.4em;
  padding: 40px;
}

.startup-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
}

.startup-frame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  background: #dddddd;
  z-index: 100;
}

.startup-page > ul {
  text-align: left;
}

.startup-page > button {
  margin-top: 20px;
  font-size: 0.8em;
  padding: 10px 18px;
}

.startup-page > ul > li {
  margin-bottom: 6px;
}
.italics {
  font-style: italic;
}

.bold {
  font-weight: bold;
}


button {
  cursor: pointer;
}

.popup-connect-btn {
  margin-bottom: 20px;
  margin-top: 10px;
}

.wallet-header {
  margin-top: 0px;
  margin-bottom: 0px;
}

.wallet-text {
  margin-top: 20px;
  font-size: 1.4em;
}

.small {
  font-size: 0.8em;
}